.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
  padding: 1rem;

  background-color: rgb(80, 80, 80);
  border-radius: 18px;
  box-shadow: 5px 5px 15px 5px rgb(126, 126, 126);

  & > p {
    font-weight: bold;
    font-family: "yj";
    font-size: 2rem;
    color: white;
  }

  & > img {
    max-width: 50%;
  }

  & > a {
    font-family: "yj";
    font-size: 1.3rem;
    color: black;
    background-color: white;
    border-radius: 18px;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
}
