:root {
  --dark-gray: rgba(88, 82, 78, 0.5);
  --button-bg-color: rgb(52, 58, 64);
  --tag-bg-color: rgb(241, 243, 245);

  /* Light mode */
  --main-bg-color: rgba(248, 249, 250, 255);
  --secondary-text: rgb(112, 112, 112);
  --dropdown-selected-color: rgb(18, 184, 134);
  --post-bg-color: white;
  --basic-font-color: black;
  --secondary-font-color: lightgray;
  --logo-color: black;
  --icon-color: black;

  /* Responsive-Grid-layout */
  --grid-columns-desktop: 5;
  --grid-columns-s_desktop: 4;
  --grid-columns-laptop: 3;
  --grid-columns-tablet: 2;
  --grid-columns-mobile: 1;
}

/* Dark Mode */
[data-theme="dark"] {
  --main-bg-color: black;
  --secondary-text: rgb(209, 209, 209);
  --dropdown-selected-color: rgb(18, 184, 134);
  --post-bg-color: rgba(52, 58, 64, 1);
  --basic-font-color: white;
  --secondary-font-color: rgb(161, 161, 161);
  --logo-color: white;
  --icon-color: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  background-color: transparent;
  border: 0;
}

button:hover {
  cursor: pointer;
}

li,
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

svg.dark-icon {
  stroke: var(--icon-color);
}

svg.dark-fill-icon {
  fill: var(--icon-color);
}
