.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.container__input {
  outline: 0;
  border: 0;

  order: 1;
}

.container__tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(241, 243, 245);
  color: rgb(12, 166, 120);
  border-radius: 16px;
}

.container__tag:hover {
  cursor: pointer;
}
