:root {
  --main-bg-color: rgba(248, 249, 250, 255);
  --secondary-text: rgb(112, 112, 112);
  --button-bg-color: rgb(52, 58, 64);
  --dropdown-selected-color: rgb(18, 184, 134);
  --grid-columns-desktop: 5;
  --grid-columns-s_desktop: 4;
  --grid-columns-laptop: 3;
  --grid-columns-tablet: 2;
  --grid-columns-mobile: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 1% 5%;

  padding-bottom: 10%;

  background-color: var(--main-bg-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 20px;
}

a {
  text-decoration: none;
  color: initial;
}

button {
  background-color: transparent;
  border: 0;
}

li,
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

button:hover,
.logo {
  cursor: pointer;
}

.logo__squid {
  max-width: 20%;
  padding: 0 0.5rem;
  background: black;
}

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2.5%;
}

.header__btn-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__searchBtn {
  display: flex;
  align-items: center;
  padding: 0;
}

.header__loginBtn {
  padding: 0.5rem 1rem;
  border-radius: 18px;
  color: white;
  background-color: var(--button-bg-color);

  min-width: fit-content;
}

.header__loginBtn:hover {
  opacity: 0.6;
}

.filters__lists {
  display: flex;
  gap: 3rem;
  width: 100%;
}

.filters__list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filters__list:hover {
  cursor: pointer;
}

.filters__dd-wrapper {
  position: relative;
  min-width: fit-content;
}

.filters__dd-current:hover {
  opacity: 0.6;
}

.filters__dd-current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;

  box-shadow: rgb(0 0 0 / 5%) 0px 4px 16px 0px;

  font-size: 0.8rem;
}

.filters__dd-current > span {
  margin-right: 1rem;
}
.filters__dd-current > img {
  width: 1.5rem;
  height: 1.5rem;
}

.filters__dropdown.open {
  display: block;
}

.filters__dropdown {
  display: none;
  position: absolute;
  min-width: 192px;
  top: calc(100% + 1rem);
  background-color: white;
  z-index: 456;

  box-shadow: rgb(0 0 0 / 15%) 0px 4px 16px 0px;
}

.filters__dropdown > li {
  padding: 0.8rem 1rem;
  border-top: 1px solid lightgray;
}

.filters__dropdown > li:first-child {
  border-top: 0;
}

.filters__dropdown > li:hover {
  background-color: var(--main-bg-color);
}

.filters__dropdown > li.selected {
  color: var(--dropdown-selected-color);
}

.menu .filters__dropdown {
  right: calc(100% - 1rem);
}

.options .filters__dropdown {
  right: 0;
}

.menu > ul,
.options > ul {
  font-size: 1rem;
  outline: 0;
}

.options {
  border: 0;
}

.menu {
  margin-left: auto;
  width: 1rem;
}

.trend,
.recent {
  position: relative;
  min-width: fit-content;
}

.trend::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;

  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  height: 0.15rem;

  background: var(--button-bg-color);
}

.velog {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns-desktop), 1fr);
  grid-gap: 3% 1.5%;
}

.velog:hover {
  cursor: pointer;
}

.velog__post {
  display: flex;
  flex-direction: column;

  background-color: white;

  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
}

.velog__post:hover {
  transform: translateY(-3px);
  transition: transform 300ms ease-in, box-shadow 300ms ease-in;

  box-shadow: rgb(0 0 0 / 15%) 0px 4px 16px 0px;
}

.velog__post {
  transform: translateY(3px);
  transition: transform 300ms ease-in, box-shadow 300ms ease-in;
}

.velog__post-thumbnail {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  padding-top: 60%;
}

.velog__post-thumbnail > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.velog__post-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.velog__post-content > h3 {
  font-size: 0.9rem;
}

.velog__post-content > p {
  flex: 1;
  color: var(--secondary-text);

  font-size: 0.8rem;
}

.velog__post-content > div {
  font-size: 0.7rem;
  color: lightgray;
}

.velog__post-content > div > span:first-child::after {
  content: " ・ ";
}

.velog__post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.7rem 1rem;
  border-top: 1px solid var(--main-bg-color);

  font-size: 0.6rem;
}

.velog__post-info img {
  width: 1rem;
}

.velog__post-heart,
.velog__post-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.velog__post-author > img {
  border-radius: 50%;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
}

.velog__post-author > span {
  font-weight: 500;
}

.velog__post-author > span::before {
  content: "by ";
  font-weight: initial;
  color: lightgray;
}

body.modal-open {
  overflow-y: hidden;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  z-index: 1001;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal__closeBtn {
  border-radius: 50%;
  background-color: var(--button-bg-color);
  color: white;

  padding: 0.3rem 0.5rem;

  text-align: center;

  order: 1;
}

@media screen and (max-width: 1800px) {
  html,
  body {
    font-size: 18px;
  }

  .velog {
    grid-template-columns: repeat(var(--grid-columns-s_desktop), 1fr);
  }

  .filters__lists {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 1280px) {
  html,
  body {
    font-size: 16px;
  }

  .velog {
    grid-template-columns: repeat(var(--grid-columns-laptop), 1fr);
  }

  .filters__lists {
    gap: 2rem;
  }
}
@media screen and (max-width: 980px) {
  html,
  body {
    font-size: 14px;
  }

  .velog {
    grid-template-columns: repeat(var(--grid-columns-tablet), 1fr);
  }

  .filters__lists {
    gap: 1.5rem;
  }
}
@media screen and (max-width: 700px) {
  html,
  body {
    font-size: 14px;
  }

  .velog {
    grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
    grid-gap: 1%;
  }

  .filters__lists {
    gap: 1rem;
  }
}
